body {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

fieldset {
    margin: 0px;
}

fieldset label {
    display: inline;
}

.control-container {
    margin-bottom: 10px;
    padding: 10px;
}

.control-invalid {
    background-color: rgba(255, 0, 0, 0.1);
}

.control-valid {
    background-color: rgba(0, 255, 0, 0.1);
}

.control-feedback {
    margin-top: 5px;
    margin-bottom: 0px;
}

.control-feedback-fail {
    color: red
}

pre {
    border: 1px gray solid;
    border-radius: 5px;
    padding: 10px;
    background-color: aliceblue;
}

code {
    border: 1px gray solid;
    border-radius: 3px;
    padding: 2px;
    background-color: aliceblue;
}